.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
    -fx-effect: dropshadow(three-pass-box, grey, 5, 0, 0, 10);
}

.full-bar{
    -fx-background-color: #a5a4a4;
}

.menu-item{
    -fx-background-color: #a5a4a4;
}

.sub-menu{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.pane{
    -fx-background-color: #f5f5dc;
}

.item_in_list{
    -fx-background-color:#fff;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: grey;
}
